main.main {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 100vw;
  height: 100vh;
}

/* DEVS-CONTAINER */

div.devsContainer {
  display: flex;
  flex-direction: column;

  padding-left: 10vw;
}

div.devsContainer div {
  margin-block: 5vh;
}
