@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

main.main {
  display: flex;
  flex-direction: column;

  width: 100vw;
  padding-left: 10vw;

  animation: fadeIn 0.5s;
}

main.main p {
  display: flex;

  align-items: center;
  margin-block: 4vh;

  gap: 2vh;
}

main.main img.spacebar {
  width: 15vh;
}

main.main img.arrow {
  width: 6vh;
}
