@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }

  20% {
    opacity: 0%;
  }

  100% {
    opacity: 0%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "VT323", monospace;
  font-style: normal;
  font-weight: 400;
}

body,
:root,
main.mainMenu {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-color: rgba(30, 30, 30, 1);
  overflow-x: hidden;

  width: 100vw;
  height: 100vh;

  transition: 0.5s all;
}

main.slideAway {
  margin-left: 100%;
}

main.slideAway img {
  animation: fadeOut 1s;
}
